@import "/src/styles/fonts.scss";
@import "/src/styles/variables.scss";

.headerContainer {
  background-color: $color-secondary;
  padding-top: 10px;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  cursor: pointer;
}
.logoContainer img {
  width: 80px;
  height: 70px;
  position: absolute;
  right: 10px;
  top: 25px;
}

.tab {
  width: 100px;
  height: 80px;
  position: relative;
  background-color: $color-label;
  cursor: pointer;
  filter: drop-shadow(2px 1px 3px rgba(0, 0, 0, 0.5));
}
.arrow {
  // width: 0;
  // height: 0;
  // border-left: 60px solid transparent;
  // border-right: 60px solid transparent;
  // border-top: 50px solid $color-label;
  width: 100px;
  height: 80px;
  background-color: $color-label;
  margin: 2rem;
  position: absolute;
  left: -23.1px;
  bottom: -64px;
  border-radius: 50%;
}

.langIcon {
  margin-bottom: 2px;
  color: $color-white;
  font-size: $font-title;
  cursor: pointer;
}
.langIcon :hover {
  color: $color-secondary-hover;
}
