@import "/src/styles/fonts.scss";
@import "/src/styles/variables.scss";

.priorityButton {
  background-color: var(--priority-color, #000);
  color: $color-white;
  border: 2px solid transparent;
  font-weight: 500;
  direction: rtl;
  height: 35px;
  width: 100px;
  transition: height 0.3s ease;

  &:hover {
    height: 40px;
  }
}
.toastConatiner {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
