/* CSS HEX */
--lightning-yellow: #fbc32c;
--old-brick: #94242c;
--oyster-pink: #e6cac6;
--old-rose: #c48c84;
--santa-fe: #b8674d;
--brandy-punch: #d38334;
--matrix: #ac4c4c;
--medium-carmine: #a94934;
--mojo: #b45434;

/* SCSS HEX */
$lightning-yellow: #fbc32c;
$old-brick: #94242c;
$oyster-pink: #e6cac6;
$old-rose: #c48c84;
$santa-fe: #b8674d;
$brandy-punch: #d38334;
$matrix: #ac4c4c;
$medium-carmine: #a94934;
$mojo: #b45434;

/* SCSS RGB */
--lightning-yellow: rgba(251, 195, 44, 1);
--old-brick: rgba(148, 36, 44, 1);
--oyster-pink: rgba(230, 202, 198, 1);
--old-rose: rgba(196, 140, 132, 1);
--santa-fe: rgba(184, 103, 77, 1);
--brandy-punch: rgba(211, 131, 52, 1);
--matrix: rgba(172, 76, 76, 1);
--medium-carmine: rgba(169, 73, 52, 1);
--mojo: rgba(180, 84, 52, 1);
