$color-secondary: #0579c7;
$color-tertiary: #39a9f3;
$color-light: #dcf1f7;
$color-accent: #baddf4;
$color-danger: #fe6d73;
$color-warning: #ffcb77;
$color-success: #17c3b2;
$color-body-white: #fafafa;
$color-white: #ffffff;
$color-gray: #8c8b8b;
$color-dark: #1e1e1e;
$color-green: #16ad16;
$color-dark-blue: #3498db46;
$color-light-gray: #e5e8e8;

$color-secondary: #fbc32c;
$color-secondary-hover: #d4a524;
$color-primary: #94242c;
$color-label: #f9e79f;
$oyster-pink: #e6cac6;
$old-rose: #c48c84;
$santa-fe: #b8674d;
$brandy-punch: #d38334;
$matrix: #ac4c4c;
$medium-carmine: #a94934;
$mojo: #b45434;

$font-huge: 6.5rem !important;
$font-heading: 5.1rem !important;
$font-large: 4.7rem !important;
$font-big: 3.6rem !important;
$font-normal: 2.5rem !important;
$font-title: 2.1rem !important;
$font-description: 1.9rem !important;
$font-small: 1.7rem !important;
$font-regular: 1.6rem;
$font-caption: 1.4rem;
$font-tiny: 1.3rem !important;
$font-mini: 1rem;

$box-shadow-right: 2px 2px 9px rgba($color-gray, 0.2);
$box-shadow-button: 0px 3px 6px ($color-gray, 0.2);
$box-shadow-box: 0px 3px 6px rgba($color-gray, 0.2);
$box-shadow-ticket-form: 1px 1px 10px 5px rgb($color-gray, 0.2);

$box-shadow-normal: 5px 5px 10px rgba($color-gray, 0.2);
$box-shadow-small: 2px 2px 4px rgba($color-gray, 0.2);

$box-border-radius: 10px;

$color-primary-regular-border: 1px solid $color-primary;
$black-border: 1px solid $color-dark;
$gray-border: 1px solid $color-light;
$secondary-border: 1px solid $color-secondary;
$secondary-border-bold: 2px solid $color-secondary;
